@import "quality";
@import "slick-custom";

// @import "castomstyle-slick";
// @import "http://webfonts.ru/import/roboto.css";

    // Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic



body {
	background-color: gray;

}


.item {
    width: 33%;
    }
 
.item.w2 {
    width: 16%;
}

.item.w3 {
     width: 17%;
}
 













































































